html {
  font: 1em sans-serif;
}
:root {
  --background-white: #fff;
  --size: 2rem;
  --border: 0.2rem;
}
main {
  margin-top: 50px;
  min-height: calc(100vh - 50px);
}
body {
  margin-top: 55px;
  margin: 0;
  background-color: #f7f7f7;
}
header {
  position: fixed;
  background-color: var(--background-white);
  box-shadow: 0 6px 16px 0 #1919190f;
  top: 0;
  z-index: 20;
  width: 100%;
  font: 1em sans-serif;
  height: "50px";
}
.navigation_header_container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}
.navigation_group {
  display: flex;
  padding: 0;
}
.navigation_items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 3px solid #0000;
  border-top: 3px solid #0000;
  box-sizing: border-box;
  margin-right: 20px;
  white-space: nowrap;
}
.navigation_logo {
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 5px solid #0000;
  border-top: 5px solid #0000;
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

img.navigation_image {
  border-radius: 10px;
  width: 30px;
  height: 30px;
}

.main_image_container {
  position: absolute;
  width: 100%;
}
.main_image {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(3, 3, 3, 0.274),
    rgba(5, 5, 5, 0.715)
  );
}
.navigation_separator {
  display: block;
  width: 100%;
}
.main_text {
  position: absolute;
  color: var(--background-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: auto;
  width: auto;
  z-index: 1;
  padding: 0 20px;
}
h1.main_h1 {
  margin-bottom: 0em;
  text-align: center;
}
h3.main_h3 {
  margin-top: 0em;
  text-align: center;
}
@media (max-width: 767px) {
  .main_image_container {
    height: 25vh;
  }
  .main_image {
    display: block;
    width: 100%;
    height: 25vh;
    object-fit: cover;
    object-position: 30% 20%;
  }
  .main_text {
    position: absolute;
    color: var(--background-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
  }
}
.main_container {
  height: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.main_form {
  background-color: var(--background-white);
  width: 100%;
  font: 1em sans-serif;
  height: "50px";
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s ease;
  max-width: 1024px;
  transform: translate(0%, 80%);
  border-radius: 5px;
  z-index: 10;
  margin-bottom: 360px;
}
.main_form_content {
  background-color: var(--background-white);
  height: "50px";
  display: flex;
  flex-direction: row;
  text-align: center;
}
.main_form:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main_form_content input,select {
  padding: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  font: 1em sans-serif;
}
.depature input {
  width: 150px;
}
.return input {
  width: 150px;
}
.seats input {
  width: 75px;
}
.main_form_content input:focus {
  border: #ff6801;
  outline: none;
  background-color: #f7f7f7;
  border-style: solid;
  border-width: 1px;
}
.main_form_content button {
  width: 120px;
  height: 50px;
  background-color: #ff6801;
  border-radius: 5px;
  border-style: none;
  color: var(--background-white);
  margin-left: 10px;
}
.main_form_content button:active {
  background-color: #ff6701db;
  box-shadow: inset 0px 0px 2px #150901;
}

.seat-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat-selection-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.row-label {
  font-weight: bold;
  margin-right: 10px;
}

.seat-wrapper {
  display: flex;
  flex-direction: column;
}

label {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin: 25px;
}

.seat-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50x;
  padding: 2px;
  box-sizing: border-box;
  font: 0.8rem sans-serif;
}

.seat-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 5px;
  appearance: none;
  position: relative;
}

.checkbox {
  position: absolute;
  height: var(--size);
  border-radius: 5px;
  border: var(--border) solid grey;
  width: var(--size);
  transition: 100ms ease-in;
  cursor: pointer;
  border-width: 0.01rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:checked + .checkbox {
  background: #ff6701db;
  border: var(--border) solid #ff6701db;
  border-width: 0.01rem;
}

input:disabled + .checkbox {
  background: rgba(128, 128, 128, 0.471);
  border: var(--border) solid rgba(128, 128, 128, 0.251);
  border-width: 0.01rem;
}
@media (max-width: 1024px) {
  .main_form {
    width: 100%;
    font: 1em sans-serif;
    height: "50px";
    transform: translate(0%, 175px);
    margin-bottom: 178px;
  }
  .main_form_content {
    background-color: var(--background-white);
    height: "50px";
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .main_form_content input {
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 315px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  input[type="checkbox"] {
    margin: 15px;
  }
  .checkbox {
    height: 2rem;
    border-radius: 5px;
    border: var(--border) solid grey;
    width: 2rem;
    border-width: 0.01rem;
    font: 1rem sans-serif;
  }
}

.column-gap {
  margin-bottom: 20px;
}
.swipe-box {
  display: flex;
  align-items: center;
  justify-content: space-ar;
}

.swipe-button {
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
  margin: 0 10px;
}

.seat-selection-box {
  width: 450px;
  align-self: center;
}
.swipe-button.disabled {
  color: grey;
  cursor: not-allowed;
}
.swipe-button.disabled:hover {
  color: grey;
  cursor: not-allowed;
  background-color: rgba(128, 128, 128, 0.121);
  border-radius: 100%;
}
.swipe-button:hover {
  color: #ff6701db;
  background-color: #e866102f;
  border-radius: 100%;
}
.card_form {
  z-index: 10;
  width: 100%;
  font: 1em sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  z-index: 10;
}
/* global.css */
.login_form {
  background-color: var(--background-white);
  width: 100%;
  font: 1em sans-serif;
  height: auto; /* Remove the quotes around 50px */
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s ease;
  max-width: 1024px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 10;
  /* Remove the margin-bottom property if you want the form centered both vertically and horizontally */
}
.login_form:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
}
.row h5 {
  /* Assuming h5 elements within .row div */
  margin-right: 10px;
  padding-right: 10px;
}
.button {
  text-align: center;
  cursor: pointer;
}
.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  left: 0;
  top: 0;
  overflow: auto;
  font-size: 10vw;

  & > div {
    margin: 30px;
  }
}

/* Loading Animation */
:root {
  --dot-jump: 20%;
  --dot-size:20px;
  --dot-color: #ff6701db;
}

#loading-dot {
  width: 120px;
  height: 60px;
  background-image: radial-gradient(
      circle,
      var(--dot-color) 50%,
      transparent 50%
    ),
    radial-gradient(circle, var(--dot-color) 50%, transparent 50%),
    radial-gradient(circle, var(--dot-color) 50%, transparent 50%);
  background-size: var(--dot-size) var(--dot-size);
  background-position: 0% 50%, 50% 50%, 100% 50%;
  background-repeat: no-repeat;
  animation: loading 1s infinite;
}

@keyframes loading {
  0%,
  33.34%,
  66.68%,
  100% {
    background-position: 0% 50%, 50% 50%, 100% 50%;
  }
  16.67% {
    background-position: 0% var(--dot-jump), 50% 50%, 100% 50%;
  }
  50.01% {
    background-position: 0% 50%, 50% var(--dot-jump), 100% 50%;
  }
  83.35% {
    background-position: 0% 50%, 50% 50%, 100% var(--dot-jump);
  }
}
/* Styles for user_logo */
.user_logo {
  padding-right: 30px;
  border-bottom: 5px solid #0000;
  border-top: 5px solid #0000;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  transition: border-color 0.3s ease; /* Add transition for smooth effect */
  right: 0;
}

/* Styles for user_image */
img.user_image {
  border-radius: 10px;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease; /* Add transition for smooth effect */
  cursor: pointer;
  right: 0;
}

/* Hover effect for user_image */
img.user_image:hover {
  transform: scale(1); /* Increase the image size on hover */
}

/* Active (mouse-over) effect for user_image */
img.user_image:active {
  transform: scale(0.9); /* Decrease the image size on mouse click */
}
/* Styles for the user options box */
.user_options_box {
  display: none; /* Hidden by default */
  position: absolute;
  position: fixed;
  top: 6%;
  right: 5px;
  background-color: var(--background-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #ccc;
}

.user_options_box.show {
  display: block; /* Show when the show class is added */
  z-index: 20;
}

.user_options_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user_option_item {
  cursor: pointer;
  padding: 6px 12px;
  border-bottom: 2px solid #ccc;
}
/* Add hover styles for the "Logout" item */
.user_option_itemt:hover {
  background-color: #f5f5f5;
  border-bottom: 2px solid #161616d5;
}

/* Add onclick styles for the "Logout" item */
.user_option_item:active {
  border-bottom: 2px solid #161616;
}

/* Custom style for the specific checkbox */
input.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 2px;
  height: 2px;
  border: 2px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  font: 1em sans-serif;
}

/* Custom checkbox shape */
input.custom-checkbox::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: 14px;
  height: 14px;
  background-color: #ff6701db; /* Change to your desired color */
  border-radius: 2px;
  opacity: 0;
}

/* Show the custom checkbox when it's checked */
input.custom-checkbox:checked::before {
  opacity: 1;
}

/* Style the checkbox label */
input.custom-checkbox + label {
  margin-left: 2px; /* Adjust spacing between checkbox and label */
}
.check {
  display: flex;
  flex-direction: row;

  padding-left: 20px;
  padding-bottom: 10px;
}
.depature {
  display: flex;
  flex-direction: column;
}
.depature_input {
  display: flex;
  flex-direction: row;

  /* Adjust spacing between "Depature" input and checkbox */
}
input.custom-checkbox {
  margin: 0px;
}
.schedule_form_content {
  background-color: var(--background-white);
  height: "50px";
  display: flex;
  flex-direction: column;
  text-align: center;
}
.schedule_form:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.schedule_form_content input {
  padding: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  font: 1em sans-serif;
}
.depature input {
  width: 150px;
}
.return input {
  width: 150px;
}
.seats input {
  width: 75px;
}
.schedule_form_content input:focus {
  border: #ff6801;
  outline: none;
  background-color: #f7f7f7;
  border-style: solid;
  border-width: 1px;
}
.schedule_form_content button {
  width: 120px;
  height: 50px;
  background-color: #ff6801;
  border-radius: 5px;
  border-style: none;
  color: var(--background-white);
  margin-left: 10px;
}
.schedule_form_content button:active {
  background-color: #ff6701db;
  box-shadow: inset 0px 0px 2px #150901;
}
.schedule_form_content input:focus {
  border: #ff6801;
  outline: none;
  background-color: #f7f7f7;
  border-style: solid;
  border-width: 1px;
}
.schedule_form_content button {
  width: 120px;
  height: 50px;
  background-color: #ff6801;
  border-radius: 5px;
  border-style: none;
  color: var(--background-white);
  margin-left: 10px;
}
.schedule_form_content button:active {
  background-color: #ff6701db;
  box-shadow: inset 0px 0px 2px #150901;
}
.schedule_form {
  background-color: var(--background-white);
  width: 100%;
  font: 1em sans-serif;
  height: auto; /* Remove the quotes around 50px */
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s ease;
  max-width: 1024px;
  position:relative;

  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 5px;
  z-index: 10;
 
}
.schedule_form:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}