html {
  font: 1em sans-serif;
}
:root {
  --background-white: #fff;
}
main {
  margin-top: 50px;
  min-height: calc(100vh - 50px);
}
body {
  margin-top: 55px;
  margin: 0;
  background-color: #f7f7f7;
}
header {
  position: fixed;
  background-color: var(--background-white);
  box-shadow: 0 6px 16px 0 #1919190f;
  top: 0;
  z-index: 20;
  width: 100%;
  font: 1em sans-serif;
  height: "50px";
}
.navigation_header_container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}
.navigation_group {
  display: flex;
  padding: 0;
}
.navigation_items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 3px solid #0000;
  border-top: 3px solid #0000;
  box-sizing: border-box;
  margin-right: 20px;
  white-space: nowrap;
}
.navigation_logo {
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 5px solid #0000;
  border-top: 5px solid #0000;
  width: 40px;
  height: 40px;
  border-radius: 25px;
}
img.navigation_image {
  border-radius: 10px;
  width: 40px;
  height: 40px;
}
.main_image_container {
  position: relative;
  width: 100%;
}
.main_image {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(3, 3, 3, 0.274),
    rgba(5, 5, 5, 0.715)
  );
}
.navigation_separator {
  display: block;
  width: 100%;
}
.main_text {
  position: absolute;
  color: var(--background-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: auto;
  width: auto;
  z-index: 1;
  padding: 0 20px;
}
h1.main_h1 {
  margin-bottom: 0em;
  text-align: center;
}
h3.main_h3 {
  margin-top: 0em;
  text-align: center;
}
@media (max-width: 767px) {
  .main_image_container {
    height: 25vh;
  }
  .main_image {
    display: block;
    width: 100%;
    height: 25vh;
    object-fit: cover;
    object-position: 30% 20%;
  }
  .main_text {
    position: absolute;
    color: var(--background-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
  }
}
.main_container {
  height: 1400px;
  position: relative;
  align-items: center;
}
.main_form {
  position: absolute;
  background-color: var(--background-white);
  width: 100%;
  font: 1em sans-serif;
  height: "50px";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  transition: box-shadow 0.3s ease;
  max-width: 1024px;
  transform: translate(25%, -50%);
  border-radius: 5px;
}
.main_form_content {
  background-color: var(--background-white);
  height: "50px";
  display: flex;
  flex-direction: row;
}
.main_form:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main_form_content input {
  padding: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.main_form_content input:focus {
  border:#ff6801; 
  outline: none;
  background-color:  #f7f7f7;
  border-style: solid;
  border-width: 1px;
}
.main_form_content button {
  width: 120px;
  height: 50px;
  background-color: #ff6801;
  border-radius: 5px;
  border-style: none;
  color: var(--background-white);
  margin-left: 10px;
}
.main_form_content button:active {
  background-color:  #ff6701db; 
  box-shadow: inset 0px 0px 2px #150901;
  
}
@media (max-width: 1024px) {
  .main_form {
    width: 100%;
    font: 1em sans-serif;
    height: "50px";
    transform: translate(0%, 0%);
  }
  .main_form_content {
    background-color: var(--background-white);
    height: "50px";
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .main_form_content input {
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* components/SeatSelection.css */

.seat-selection-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.seat-selection-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.seat-wrapper {
  display: flex;
  flex-direction: column;
}

.seat-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
}

input[type='checkbox'] {
  margin-right: 5px;
}

input[type='checkbox']:checked + span {
  background-color: #ff6801; /* Apply orange color to the selected seats */
}

input[type='checkbox']:disabled + span {
  background-color: #ccc; /* Apply gray color to the preselected seats */
}
